/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap')

/* Asteriks wildcard selector to override default style added by browser*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* General-styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Project style*/
    color: #3a3a3a;
    font-family: 'lato', sans-serif;
}






/*header*/
header {

    background-color: pink;
}

h1 {
    font-family: 'Oswald', sans-serif;
}
/*main content*/
main {
    background-color: lightblue;
    /*Make main take up any surplus space to push footer down*/
    flex: 1 0 auto;

    

}


/*footer*/
footer {
    background-color: greenyellow;

}