/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* Asteriks wildcard selector to override default style added by browser*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    line-height: 1.2;
    background-color: #e7dfdf;
    font-weight: 700;

}

/* Photos */
.bg__index {
    background-image: linear-gradient(14deg,
            rgba(2, 0, 36, 0.377) 0%,
            rgba(9, 9, 121, 0.356) 6%,
            rgba(62, 69, 70, 0.5) 100%),
        url('../image/young-girl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.bg__home {
    background-image: linear-gradient(14deg,
            rgba(2, 0, 36, 0.377) 0%,
            rgba(9, 9, 121, 0.356) 6%,
            rgba(62, 69, 70, 0.5) 100%),
        url('../image/girls-group.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.bg__gallery {
    background-image: linear-gradient(14deg,
            rgba(2, 0, 36, 0.377) 0%,
            rgba(9, 9, 121, 0.356) 6%,
            rgba(62, 69, 70, 0.5) 100%),
        url('../image/surfer-girls.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.bg__contact {
    background-image: linear-gradient(14deg,
            rgba(2, 0, 36, 0.377) 0%,
            rgba(9, 9, 121, 0.356) 6%,
            rgba(62, 69, 70, 0.5) 100%),
        url('../image/girl-resting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.wrapper-flow {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.body>.contact-form {
    flex-direction: column-reverse;
}


.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-bottom: 30px;
    width: 100%
}

.columns>h2 {
    font-size: 2em;
    color: #d6dce1;
}

.columns>h3 {
    font-size: 1.5em;
    color: #e5137c;
}

.columns>h4 {
    font-size: 1.3em;
    color: #074f57;
}

.columns>p {
    width: 85%;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 2px #074f57;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #ff1493;

}

nav {
    display: flex;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: palevioletred;
}

h2 {
    text-transform: uppercase;
    margin-top: 50px;
}

h3 {
    color: gold;
}

.gallery p {
    padding-bottom: 20px;

}



#menu {
    list-style-type: none;
}

#menu li {
    margin-right: 20px;
}

#menu li a {
    text-decoration: none;
    color: #333131;
    transition: color 0.3s ease;
}

#menu li a:hover {
    color: #ff1493;

}

/* Navbar Styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: none;
    top: 100%;
}

/* Nav Toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    font-weight: 900;
}

.menu-icon {
    font-size: 2rem;
}


/* Contact form */
/* Position of Contact Box*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

/* Cycles styling app link*/
.cycles {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    transition: color 0, 3s ease;
}

.cycles:hover {
    color: #e5137c;
}

.contact-text {
    margin-top: auto;
    padding: 3px;
}

.contact-form {
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin-top: auto;
    padding: 2%;
    background-color: #074f57 0, 2;
    border: 1px solid #ff1493;
    border-radius: 5px;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #ff1493;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #ff1493
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff1493;
    border-radius: 3px;
}

.form-group textarea {
    resize: vertical;

}

/* Button */
button[type="submit"] {
    background-color: #074f57;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ff1493;

}

.question {
    margin-top: 4px;
}

.full-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding 10px;
}

#answer {
    max-width: 280px;

}

#answer-title {
    color: #ff1493;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;

}

#answer-text {
    font-size: 1em;
    line-height: 1.5;
    margin-left: 5px;
    margin-right: 5px;
}

.disclaimer>* {
    padding-top: 3rem;
}

/* Footer */
footer {
    background-color: #074f57;
    color: #e7dfdf;
    padding: 13px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Social Media */
#social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

#social-media li {
    margin-right: 10px;
}

#social-media a {
    color: #ffffff;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

/* Using color on the hoverbutton */
#social-media a:hover {
    color: #ff1493;

}

/* media query: tablets (768px*/
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */
    main {
        /* Push main content down to accomadate larger header*/
        margin-top: 130px;
        padding: 0 2em 10em 2em;
    }

    #logo {
        font-size: 150%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    .wrapper-flow .gallery {
        padding-top: 100px;

    }

    .gallery .columns {
        padding-bottom: 50px;

    }

    .gallery #cover-text h2 {
        font-size: 2.5em;
    }

    .gallery #cover-text h3 {
        font-size: 1.8em;

    }

    .gallery #cover-text h4 {

        font-size: 1.6em;
    }

    .gallery #cover-text p {
        width: 90%;
    }
}

/*footer*/
#social-media {
    display: flex;
    background-color: #074f57;
    font-family: 'lato', sans-serif;
    align-content: flex-end;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0px;
    /*padding-bottom: 5px;*/
    margin: auto;
}

/* media query:screen size 992px and higher*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}